{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}Eclipse{% endblock %}</title>
    <link href="{% static 'imagenes/Eclipse.png' %}" rel="icon" type="image/x-icon">
    <link href="{% static 'css/globalStyles.css' %}" rel="stylesheet">

    {% block extrastyle %}{% endblock %}
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>

{% include 'header.html' %}

<main>
    {% block content %}{% endblock %}
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <div class="alert-neon alert-{{ message.tags|default:'info' }}">
                <span class="alert-icon">
                    {% if message.tags == 'success' %}
                        ✓
                    {% elif message.tags == 'error' %}
                        ✕
                    {% elif message.tags == 'warning' %}
                        ⚠
                    {% else %}
                        ℹ
                    {% endif %}
                </span>
            <div class="alert-text">{{ message }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</main>

{% include 'footer.html' %}
</body>
</html>