{% load static %}
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-brand">
            <div class="footer-logo">ECLIPSE <span>NIGHT CLUB</span></div>
            <p class="footer-tagline">La noche es nuestra. Viví la experiencia sensorial de la mejor música
                electrónica.</p>
        </div>

        <div class="footer-copyright">
            <p>&copy; 2026 Eclipse Night Club - Todos los derechos reservados</p>
        </div>
        <div class="footer-admin-access"
             style="text-align: center; margin-top: 15px; padding-top: 10px; border-top: 1px solid #222;">
            <a class="admin-icon-link" href="{% url 'login' %}" title="Acceso Personal Eclipse">
                <span class="neon-icon">🔐</span> <small style="font-size: 0.8rem; letter-spacing: 1px;">STAFF
                ACCESS</small>
            </a>
        </div>
    </div>
</footer>